<main>
  <section class="tarefas">
    {{#each tarefas}}
  <div class="tarefa">
        <form action="">
           <div> <input type="radio" id="tarefa-{{this.id}}">
            <label for="tarefa-{{this.id}}">{{this.descricao}}</label>
            </div>
            <button><img src="/imagens/x-icon.png" alt="icone x"></button>
        </form>
    </div>
    {{/each}}
    <div class="informacoes">
        <p>5 tarefas ativas</p>
        <div class="botoes">
             <a href="" class="active">todas</a>
        <a href="">ativas</a>
        <a href="">completas</a>
        </div>


        <a href="">limpar tarefas</a>
    </div>
    </section>
    <section class="botoes">
        <a href="" class="active">todas</a>
        <a href="">ativas</a>
        <a href="">completas</a>
    </section>
   
    
</main>